{{ form_start(form) }}
<div class="container">
    <form class="form-vertical" role="form">
        <div class="form-group">
            <div class="row justify-content">

                <div class="col">
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.nom) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.prenom) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.prenom) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.prenom) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.email) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.pseudo) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.pseudo) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.pseudo) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.telephone) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.telephone) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.telephone) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.campus) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.campus) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.campus) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.imageFile) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.imageFile) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.imageFile) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.actif) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.actif) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.actif) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(form.roles) }}
                        </div>
                        <div class="col">
                            {{ form_widget(form.roles) }}
                        </div>
                        <div class="col">
                            {{ form_errors(form.roles) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <button type="button" class="btn btn-primary">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
    <a href="{{ path('participant_index') }}">back to list</a>

</div>



