{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}



{{ form_label(form.nom) }}
{{ form_widget(form.nom) }}
{{ form_errors(form.nom) }}

{{ form_label(form.prenom) }}
{{ form_widget(form.prenom) }}
{{ form_errors(form.prenom) }}

{{ form_label(form.email) }}
{{ form_widget(form.email) }}
{{ form_errors(form.email) }}

{{ form_label(form.pseudo) }}
{{ form_widget(form.pseudo) }}
{{ form_errors(form.pseudo) }}

{{ form_label(form.telephone) }}
{{ form_widget(form.telephone) }}
{{ form_errors(form.telephone) }}

{{ form_label(form.campus) }}
{{ form_widget(form.campus) }}
{{ form_errors(form.campus) }}

{{ form_label(form.telephone) }}
{{ form_widget(form.telephone) }}
{{ form_errors(form.telephone) }}

crud
image
actif