{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1 class="text-center">Participant</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ participant.pseudo }}</td>
            </tr>

        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('participant_index') }}">Retour</a>
    {% else %}
        <a class="btn btn-primary" href="{{ path('accueil') }}">Retour</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') and app.user.username != participant.email %}
    <a class="btn btn-primary" href="{{ path('participant_edit', {'id': participant.id}) }}">Modifier</a>
    {% endif %}
    {{ include('participant/_delete_form.html.twig') }}

{% endblock %}
