

{{ form_start(form) }}
<table>
    <tr>
        <div class="form-group">
            <td>
                <strong>Nom de la sortie :</strong>
            </td>
            <td>
                {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </td>
        </div>
        <div class="form-group">
            <td>
                <strong>Campus :</strong>
            </td>
            <td>
                    {{ sortie.campus }}
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td>
                <strong>Date et heure de sortie :</strong>
            </td>
            <td>
                {{ form_widget(form.dateHeureDebut) }}
                {{ form_errors(form.dateHeureDebut) }}
            </td>
        </div>
        <div class="form-group">
            <td>
                <strong>Ville :</strong>
            </td>
            <td>
                {{ form_widget(form.ville, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.ville) }}
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td>
                <strong>Date limite d'inscription :</strong>
            </td>
            <td>
                {{ form_widget(form.dateLimiteInscription, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.dateLimiteInscription) }}
            </td>
        </div>
        <div class="form-group">
            <td rowspan="5">
                <strong>Lieu :</strong>
            </td>
            <td rowspan="5">
                <div id="form-lieu">
                    <div>
                        {{ form_widget(form.lieu) }}
                        {{ form_errors(form.lieu) }}
                    </div>
                </div>
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td>
                <strong>Nombre de places :</strong>
            </td>
            <td>
                {{ form_widget(form.nbInscriptionMax, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.nbInscriptionMax) }}
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td>
                <strong>Durée (en heures) :</strong>
            </td>
            <td>
                {{ form_widget(form.duree, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.duree) }}
            </td>
        </div>
    </tr>
    <tr>
        <div class="form-group">
            <td rowspan="2">
                <strong>Description et information :</strong>
            </td>
            <td rowspan="2">
                {{ form_widget(form.infosSortie, {'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.infosSortie) }}
            </td>
        </div>
    </tr>

</table>
<div>
    {{ form_widget(form.Enregistrer) }}
    {{ form_widget(form.Publier) }}
    <a href="{{ path('accueil') }}" class="btn btn-primary">Annuler</a>

</div>


{{ form_end(form) }}

{% block javascripts %}
<script type="text/javascript">
    if ('{{ sortie.etat.libelle }}' !== 'Créée'){
        document.querySelector('#edit_sortie_Enregistrer').remove();
    }
    </script>

{% endblock %}
