
{{ form_start(form) }}
<div>
    {{ form_row(form.nom) }}
</div>
<div>
    {{ form_row(form.dateHeureDebut) }}

</div>
    {{ form_row(form.dateLimiteInscription) }}
    {{ form_row(form.nbInscriptionMax) }}
    {{ form_row(form.duree) }}
    {{ form_row(form.infosSortie) }}


    Campus : {{ sortie.campus }}
    {{ form_row(form.villes) }}
    <h4> choisir le lieu</h4>
    <ul class="lieu"  data-prototype-lieu="{{ form_row(form.lieu.vars.prototype)|e('html_attr') }}">
    </ul>

<button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

