{% block body %}
       <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture des inscriptions</th>
                <th>inscrits/place</th>
                <th>État</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            {% set p = false %}
            {% for sortieParticipant in sortie.sortieParticipants %}
                {% if app.user == sortieParticipant.participant%}
                    {% set p = "true" %}
                {% endif %}
            {% endfor %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : '' }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.sortieParticipants | length}} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.etat }}</td>
                <td>
                    {% if p == "true" %}
                        X
                    {%  endif %}
                </td>
                <td>{{ sortie.organisateur }}</td>
                <td>
                    {% if app.user != sortie.organisateur %}
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    {% endif %}
                    {% if p == "true" %}
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">se désister</a>
                    {% else %}
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">S'inscrire</a>
                    {% endif %}
                    {% if app.user == sortie.organisateur %}
                        {% if sortie.etat == "Créée" %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Publier</a>
                        {% endif %}
                        {% if sortie.etat == "Ouverte" %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        {% endif %}
                        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Annuler</a>
                    {% endif %}



                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new') }}">Create new</a>
{% endblock %}