{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="float-right">
    <strong>Date du jour : {{ "now"|date('d/m/yy') }}</strong><br/>
    <strong>Participant : {{ participant.nom }} {{ participant.prenom }}</strong>
</div>
<div>
    <h4>Filtrer les sorties :</h4>
    <div class="row ml-1">
        <div>
            <label for="campus" class="form-label">Campus :</label>
            <select id="campus" class="form-control">
                {% for campus in campuses %}
                    <option value="{{ campus.id }}">{{ campus}}</option>
                {% endfor %}
            </select>
            <label for="nom" class="form-label">Le nom de la sortie contient :</label>
            <input type="text" class="form-control" id="nom"/>
            <div class="form-group row ml-1">
                <label for="dateMin" class="form-label">Entre :</label>
                <input type="date" id="dateMin" class="input-group date"/>
                <label for="dateMax">Et :</label>
                <input type="date" id="dateMax" class="input-group date"/>
            </div>
        </div>
        <div class="ml-5 mt-5">
            <input type="checkbox" id="organisateur" class="form-check-input"/><label for="organisateur" class="form-label">Sorties dont je suis l'organisateur</label><br/>
            <input type="checkbox" id="inscrit" class="form-check-input"/><label for="inscrit" class="form-label">Sorties auxquelles je suis inscrit(e)</label><br/>
            <input type="checkbox" id="nonInscrit" class="form-check-input"/><label for="nonInscrit" class="form-label">Sorties auxquelles je ne suis pas inscrit(e)</label><br/>
            <input type="checkbox" id="passees" class="form-check-input"/><label for="passees" class="form-label">Sorties passées</label><br/>
        </div>
    </div>
    <div class="">
        {{ render(path('sortie_index')) }}
</div>
    <a href="{{ path('sortie_new') }}" class="btn btn-primary">Ajouter une sortie</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
    <script>$(function() {
            $("#tablesorter").tablesorter({
             dateFormat: "ddmmyyyy"
            });
            });</script>
{% endblock %}